* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}


body {
    margin-top: 30px;
    color: rgb(12, 12, 12);
    text-align: center;
    background-color: #F7F5FB;
}

h1 {
    font-size: 1.5rem;
    padding-bottom: 1em;
}

.link-button {
    background-color: #efefef;
    padding: 1px 6px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.home {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
}

.form-todo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.list-heading {
    padding: .25rem 0 .5rem 0;
    font-size: 1.3rem;
    text-decoration: underline;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    
}

.todo-card {
    max-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
   
}

.card-button-holder {
    max-width: 50%;
    background-color: blue;

    
}
.test {
    background-color: red;
}


li {
    list-style: none;
}

.js-line-on{
    text-decoration: line-through;
}

.js-line-off{
    text-decoration: none;
}